.leftmenubutton {
    display: flex;
    align-items: center;
    padding: 13px 10px;
    border-bottom: 1px solid rgb(255, 232, 31);
    color: black;
    position: relative;
  }

  .leftmenubutton img {
    color: #dee4ec;
    width: 20px;
    height: 20px;
    padding-right: 10px;
  }

.leftmenubutton img {
  fill: white;
}

.white {
  filter: invert(80%) sepia(84%) saturate(1269%) hue-rotate(354deg) brightness(91%) contrast(82%);
}

/* https://codepen.io/sosuke/pen/Pjoqqp */